<ion-header>
  <ion-navbar class="header">
    <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pedidos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content> 
  <ion-refresher  (ionRefresh)="recargar($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Suelta para recargar"
    refreshingSpinner="circles" refreshingText="Recargando..."></ion-refresher-content>
  </ion-refresher>
  <div  class="fondo"><!-- *ngIf="cantidad == 0"-->
    <ion-label class="usuario">  {{ nombreUsuario }} </ion-label>

    <ion-grid>
      <ion-row>
        <ion-col col-10>
          <ion-item>
            <!--<ion-label color="primary" floating>Buscar ventas</ion-label>
            <ion-input type="search" (change)="getItems()" #buscar></ion-input>-->
          </ion-item>
        </ion-col>
        <ion-col (click)="addVenta()">
          <img src="assets/img/añadir.png" role="img" alt="" width="45" height="45" title="Agregar Pedido">
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-list>
      <div *ngIf="cantidad == 0" class="centrado" >      
        <!-- <img src="assets/img/huellas.png" role="img" alt="Huellas" title="Huellas" ><br> -->
        <span style="font-size: 30px;" > No existen Pedidos!! </span><br/> 
      </div>

      <!--<button ion-item *ngFor="let item of items; let i = index" (click)="editVenta(items.indexOf(item),item.nro_pedido,item.tipo)">
        {{item.nombre}}
        <div class="descripcion">
          {{item.nombre_tipo}}  {{item.serie}} -
          {{item.nro_pedido}} <br />
          {{item.fch_regi}}
        </div>
        <div class="monto">S/. {{ item.total | number:'1.2-2' }}</div>
      </button>-->
      <ion-item-sliding *ngFor="let item of items; let i = index">
        <ion-item ion-item (click)="editVenta(i,items.indexOf(item),item.nro_pedido,item.tipo)">
          {{item.nombre}}
          <div class="descripcion">
            <!--{{item.nombre_tipo}}  {{item.serie}} - -->
            {{item.nro_pedido}} <br />
            {{item.fch_regi}} 
          </div>
          <div class="monto">S/. {{ item.total | number:'1.2-2' }}</div>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" 
                  (click)="borrarVenta( i, item )">
            <ion-icon name="trash"></ion-icon>
            Borrar
          </button>
        </ion-item-options>
      </ion-item-sliding >
    </ion-list>
    
  </div>
</ion-content>
