page-select-producto {
    .toolbar-background {
        background-color: #08487c !important;
    }
    .toolbar-title, .button-inner {
       color: #fff !important;
    }
    
	.button{
        background-color: #08487B !important;
        border: 1px solid #08487B !important;
        border-radius: 5%;
    }
}
